/*:root {
--color-primary: #07100a; 
--color-secondary: #07403b; 
--color-accent: #5A9716;
--color-bg: #e6e7bf; 
--color-text: #07100a; 
--color-text-light: #7adae7; 
--font-body: "Segoe UI", "Times New Roman", sans-serif;
--spacing-sm: 8px;
--spacing-md: 16px;
--spacing-lg: 32px;
--spacing-xl: 64px;
--radius: 8px;
}*/