/* ============ RESET UNIVERSAL ============ */
*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --color-primary: #05271f; /*Fondo principal*/
    --color-secondary: #0c362d; /*Fondo secundario*/
    --color-text-title: #05271f; /*Texto de los títulos*/
    --color-accent: #425851; 
    --color-bg: #839989;
    --coloe-bg2: #c0d1b2; 
    --color-text: #07100a; /*Texto principal*/
    --color-text-logo: #ffffff; /*Texto del logo*/
    --color-nav: #05271f; /*Fondo de la barra de navegación*/
    --color-text-nav: #ffffff; /*Texto de la barra de navegación*/
    --font-logo: "Segoe UI Black";
    --font-nav: "helvetica neue", sans-serif;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --radius: 8px;
}
.container {
    display: flex;  
    flex-direction: row;
    gap: 20px; 
    min-height: 100vh;
    background-color: var(--color-bg);
    padding: var(--spacing-lg);
}
body {
    margin: 0; 
    padding: 0;
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: 1.1;
    color: var(--color-text);
}
h1, h2{
    color: var(--color-text-title);
    margin-top: 0;
}
a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: color 0.2s; 
}
a:hover {
    color: var(--color-accent);
}
img {
    max-width: 100%; 
    height: auto;
    display: block;
}
nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: var(--color-nav);
}
.nav-logo {
    color: var(--color-text-logo);
    font-size: 5rem;
    font-family: var(--font-logo);
    font-weight: bold;
    text-decoration: none; 
    flex-shrink: 0;
}
.nav-logo:hover {
    color: var(--color-accent);
}
.nav-links ul {
    display: flex; 
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.nav-links a {
    color: var(--color-text-nav);
    text-decoration: none;
    font-family: var(--text-nav);
    font-size: 0.95rem;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}
.nav-links a:hover {
    color: var(--color-accent);
    border-bottom-color: var(--color-accent);
}
#equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: var(--color-bg);
}
.miembros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#equipo img {
    width:150px;
    height:150px;
    border-radius:50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}